* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: #f6f6ff;
}

header,
footer {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    border: black 2px solid;
}

nav a {
    display: block;
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

nav a:hover {
    background-color: #f2f2f2;
    color: #333;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.img-container,
.info-container,
.thumbnail-container {
    padding: 0.5rem;
    border: 2px black solid;
    background-color: white;
    margin: 1rem;
}

.img-container>img,
.info-container>img {
    max-width: 360px;
    height: auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-container>img {
    max-width: 120px;
    height: auto;
}

#search-form button {
    padding: 0.5rem;
    border: 2px black solid;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #333;
}

#search-box {
    font-size: 1rem;
}



i {
    font-size: 3rem;
    text-align: center;
    margin: 0 0.5rem;
}

i:hover {
    cursor: pointer;
}

.footer-copyright {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

#timeline {
    border: rgb(0, 0, 0) 3px solid;
    background-color: #333;
    color: white;
    margin: 1rem;
    max-height: 10rem;
    max-width: 15rem;
    overflow: auto;
}

#timeline h2 {
    text-align: center;
    padding: 0;
    margin: 0.5rem 0;
}

#timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#timeline li {
    list-style: none;
    padding: 0.5rem;
    margin: 0.2rem;
    color: #4d88ff;
    background-color: #ffd3d0;
    font-weight: bold;
    line-height: 1.5rem;
}

#timeline li:hover {
    cursor: pointer;
}

.card-quantity-button,
.button {
    padding: 0rem;
    border: 1px black solid;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #333;
    margin: 0 0rem;
}

.add-to-cart-button {
    padding: 0rem;
    border: 1px black solid;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #333;
    margin: 0 1rem;
}

.card-price {
    margin: 0 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.pokemon-buy-details {
    margin: rem;
    padding: rem;
}

.cost {
    font-size: 1.5rem;
    margin: 0 1rem;
}

.card-total-price {
    margin: 0 2rem;
}

.form {
    margin: 0.5rem;
    padding: 0.5rem;
}

.images_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
}

.image_container {
    background: linear-gradient(rgb(168, 255, 152), rgb(214, 162, 228));
    box-shadow: 0 1.6px 1.6px rgb(0 0 0 / 2%), 0 3.8px 3.8px rgb(0 0 0 / 3%), 0 6.9px 6.9px rgb(0 0 0 / 4%), 0 11.4px 11.4px rgb(0 0 0 / 5%), 0 18.8px 18.8px rgb(0 0 0 / 6%), 0 32.8px 32.8px rgb(0 0 0 / 7%), 0 71px 71px rgb(0 0 0 / 9%);
    border-radius: 30px;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .row {
        flex-direction: column;
    }
    nav a {
        width: 100%;
        float: none !important;
    }
}