* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
h1 {
    margin: 0px;
}

header,
footer {
    text-align: center;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

nav a {
    display: inline-block;
    padding: 10px;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

nav a:hover {
    background-color: #f2f2f2;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.images_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
}

.image_container {
    background: linear-gradient(rgb(168, 255, 152), rgb(214, 162, 228));
    box-shadow: 0 1.6px 1.6px rgb(0 0 0 / 2%), 0 3.8px 3.8px rgb(0 0 0 / 3%), 0 6.9px 6.9px rgb(0 0 0 / 4%), 0 11.4px 11.4px rgb(0 0 0 / 5%), 0 18.8px 18.8px rgb(0 0 0 / 6%), 0 32.8px 32.8px rgb(0 0 0 / 7%), 0 71px 71px rgb(0 0 0 / 9%);
    border-radius: 30px;
    width: 100%;
}

.clearfix {
    overflow: hidden;
}

.clearfix::after {
    clear: both;
}


@media screen and (max-width: 700px) {
    main,
    nav {
        flex-direction: column;
    }
}